{% extends 'base.html.twig' %}

{% block title %}Mes Annonces{% endblock %}

{% block body %}
    <h1 class="text-bold text-white">{{ announcement.Description }}</h1>

    <!--<table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ announcement.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ announcement.Description }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ announcement.Price }}</td>
            </tr>
            <tr>
                <th>Size</th>
                <td>{{ announcement.Size }}</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>{{ announcement.Weight }}</td>
            </tr>
            <tr>
                <th>Quality</th>
                <td>{{ announcement.Quality }}</td>
            </tr>
            <tr>
                <th>Specifications</th>
                <td>{{ announcement.Specifications }}</td>
            </tr>
            <tr>
                <th>ImageAnnouncements</th>
                <td>{{ announcement.ImageAnnouncements }}</td>
            </tr>
        </tbody>
    </table>-->

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!--<div class="col-lg-3">
                <h1 class="my-4">Shop Name</h1>
                <div class="list-group">
                    <a href="#" class="list-group-item active">Category 1</a>
                    <a href="#" class="list-group-item">Category 2</a>
                    <a href="#" class="list-group-item">Category 3</a>
                </div>
            </div>-->
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">

                <div class="card mt-4">
                    <img class="card-img-top img-fluid" src="{{ announcement.ImageAnnouncements }}" alt="Image Annonce">
                    <div class="card-body">
                        <h3 class="card-title">{{ announcement.Description }}</h3>
                        <h4>{{ announcement.Price }} €</h4>
                        <p class="card-text">{{ announcement.Size }} cm</p>
                        <p class="card-text">{{ announcement.Weight }} kg</p>
                        <p class="card-text">{{ announcement.Quality }}</p>
                        <p class="card-text">{{ announcement.Specifications }}</p>
                    </div>
                </div>
                <!-- /.card -->

                <!--<div class="card card-outline-secondary my-4">
                    <div class="card-header">
                        Product Reviews
                    </div>
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                        <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                        <hr>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                        <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                        <hr>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                        <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                        <hr>
                        <a href="#" class="btn btn-success">Leave a Review</a>
                    </div>
                </div>-->
                <!-- /.card -->

            </div>
            <!-- /.col-lg-9 -->

        </div>

    </div>
    <!-- /.container -->
    <div class="lien">
        <a href="{{ path('announcements_index') }}">Retour</a>
        <br />
        <br />
        <a href="{{ path('announcements_edit', {'id': announcement.id}) }}">Modifier</a>
    </div>
    {{ include('announcements/_delete_form.html.twig') }}
{% endblock %}