{% extends 'base.html.twig' %}

{% block title %}CatShop{% endblock %}

{% block body %}
    <h1>CatShop</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cat_shop.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ cat_shop.Label }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ cat_shop.Description }}</td>
            </tr>
            <tr>
                <th>ImageCatShop</th>
                <td>{{ cat_shop.ImageCatShop }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('cat_shop_index') }}">back to list</a>

    <a href="{{ path('cat_shop_edit', {'id': cat_shop.id}) }}">edit</a>

    {{ include('cat_shop/_delete_form.html.twig') }}
{% endblock %}