{% extends 'base.html.twig' %}

{% block title %}Espace Client{% endblock %}

{% block body %}
    <h1 class="text-bold text-white">Espace Client</h1>

    <table class="table">
        <thead>
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Id</th>
                    {% endif %}
                <th>Nom / Prénom</th>
                <th>Username</th>
                <th>Email</th>
                <th>Mot de Passe</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                {% if user.id is same as(app.user.id) %}
                    <tr>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td>{{ user.id }}</td>
                        {% endif %}
                        <td>{{ user.fullName }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.password }}</td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td>{{ user.roles[0] }}</td>
                        {% endif %}
                        <td>
                            <a href="{{ path('user_show', {'id': user.id}) }}">Afficher</a>
                            <a href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>
                        </td>
                    </tr>
                {% elseif is_granted('ROLE_ADMIN') %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.fullName }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.password }}</td>
                        <td>{{ user.roles[0] }}</td>
                        <td>
                            <a href="{{ path('user_show', {'id': user.id}) }}">Afficher</a>
                            <a href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>
                        </td>
                    </tr>
                {% endif %}
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="lien">
            <a href="{{ path('user_new') }}">Créer un nouvel utilisateur</a>
        </div>
    {% endif %}
{% endblock %}